name: build

on:
  push:
    branches:
      - 'main'

jobs:
  bake:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [arm64, amd64]
        image: [lemmy-ui, lemmy]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.9.1
      - name: Docker Buildx Bake
        uses: docker/bake-action@v3.1.0
        with:
          targets: [${{ matrix.image }}]
          set: ["platform=linux/${{ matrix.arch }}"]
          push: true
